table {
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #f1f1f1;
    color: #333;
}

div.inline {
    float: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}